<footer>
  <div class="bg-gray-200 p-4">
    <div class="flex m-auto text-gray-800 text-sm flex-col md:flex-row max-w-6xl">
      Copyright &copy; {{ site.title }} 2020. All Rights Reserved.
      Registered Company in England &amp; Wales. Company Reg: {{ site.company_number }}
      <div class="md:flex-auto md:flex-row-reverse flex-row flex">
        <a href="https://craigpetterson.co.uk" target="_blank">
          Site by
          <strong>
            Craig Petterson
          </strong>
        </a>
      </div>
    </div>
  </div>
</footer>
